
@media(max-width:600px){
    .top fieldset{
        text-align: center;
        padding-right: 1024px;
    }
    .start-hlaf img{
        padding-left: 10px;
    }
    fieldset{
        width: 1024px;
    }
    .co-font{
        text-align: center;
    }
    .sec-one img{
        height: 144px;
    }
    .logo img{
        left: 450px;
    }
}



@media (max-width:600px){
    .start-hlaf{
        width: 60%;
    }
    .start-hlaf img{
        width: 130%;
        padding-left: 20px;
    }
    .bth-info{
        padding-left: 220px;
        padding-right: 220px;
    }
    .co-font{
        text-align: center;
    }
}